<title>
    {% block title %}
        Webmobile
    {% endblock %}
</title>

<div class="container w-100">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark-subtle text-dark-emphasis">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32" aria-hidden="true">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Concessonária TOP</span>
        </a>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'login' %}" class="nav-link active" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'criar_veiculo' %}" class="nav-link">Cadastrar Veículo</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'listar_veiculo' %}" class="nav-link">Veículos Cadastrados</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
        </ul>
    </header>
</div>
<div class="b-example-divider"></div>